.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    height: 85px;
    border-radius: 14px;
}

.app-logo{
    height: 85px;
    width: 85px;
    background-color: brown;
    border-radius: 13px;
}

.nav-items > ul{
    display: flex;
    padding-top: 8px;
}

.nav-items > ul > li{
    font-size: 24;
    list-style-type: none;
    margin: 8;
}

.nav-items{
    padding: 0px 50px;
    padding-bottom: 12px;
}

.card-img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.rest-cards{
    width: 205px;
    height: 370px;
    padding-left: 5px;
    padding-top: 5px;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.rest-cards:hover{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 14px;
}

#header4{
    word-wrap: break-word;
}
